* {
  margin: 0;
  padding: 0;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.navbar-container {
  background-color: #f8c169;
  width: 100%;
  height: 60px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.badan {
  padding-top: 80px;
  background-color: #f8e0b478;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  overflow-x: hidden;
}

.navbar {
  margin-right: 25px;
}

.navbar ul {
  list-style: none;
  display: flex;
}

.navbar ul li {
  margin-right: 20px;
}

.navbar ul li:last-child {
  margin-right: 0;
}

.navbar ul li a {
  text-decoration: none;
  color: white;
  font-size: 14px;
  padding: 7px 10px;
  border-radius: 5px;
  background-color: #f9cf66;
  box-shadow: 0 2px 2px rgba(232, 160, 45, 0.89);
}

.navbar ul li a:hover {
  background-color: #ffbf47;
}

.logo img {
  height: 85px;
  width: auto;
  margin-left: 20px;
}

h3 {
  font-family: cursive;
  color: #fbf9f6;
  font-size: 16px;
  text-align: center;
  width: 80%;
  margin: 20px auto;
  background-color: rgba(251, 210, 98, 0.771);
  border-radius: 8px;
  padding: 11px;
  border-color: solid 5px #f9ba54;
  box-shadow: 0 2px 2px rgba(232, 160, 45, 0.89);
  padding-bottom: 20px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    transition: all 0.3s ease;
}
h3:hover {
  background-color: #f8c168;
 
}

.boba img {
  max-width: 50%;
  height: auto;
  border-radius: 25px;
  border: solid 5px #f1b657;
  margin: 20px 115px auto;
  margin: 20px auto; 
  display: flex;
  justify-content: center; 
}


.produk {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}


.produk img {
  max-width: 300%;
  height: auto;
  border-radius: 300px;
  border: solid 5px #f1b657;
  margin-top: -360px;
  box-shadow: 0 2px 2px rgba(232, 160, 45, 0.89);
  transition: transform 0.3s ease; 
}


span {
  font-size: 18px;
  color: #f09605;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.teks4 {
  margin-top: -360px;
}

h4 {
  color: white;
  background-color: #f8c169;
  padding: 10px;
  margin: auto;
  border-color: #f09605;
  border-radius: 25px;
  width: auto;
  max-width: 240px;
  text-align: center;
  text-decoration: none;
  transition: all 0.3s ease;
}

h4:hover {
  background-color: #f8ae38;
}

a {
  text-decoration: none;
}

.maps img {
  max-width: 50%;
  height: auto;
  border-radius: 500px;
  border: solid 5px #f1b657;
  margin: 20px 115px auto;
  margin: 20px auto; 
  display: flex;
  justify-content: center;
  transition: transform 0.3s ease; 
}

@media screen and (min-width: 768px) { 
  .maps img {
    max-width: 30%;
  }
}

.boba img {
  max-width: 50%;
  height: auto;
  border-radius: 25px;
  border: solid 5px #f1b657;
  margin: 20px auto; 
  display: block;
  transition: transform 0.3s ease; 
}

.boba img:hover,
.produk img:hover,
.maps img:hover {
  transform: scale(1.1); 
}

@media screen and (min-width: 768px) { 
  .maps img {
    max-width: 30%;
  }
}
